<div class="container-bg">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://englishlive.ef.com/pt-br/blog/wp-content/uploads/sites/16/2019/05/Frases-do-cinema-para-ampliar-o-vocabul%C3%A1rio.jpg);">
    <div class="container">
      <h1><strong><%= @list.name %></strong></h1>
      <h1>
        <span id='title-typed-text' mb-3></span>
      </h1>
    </div>
  </div>
</div>

<div class="container-list">
  <div class="title mt-3">
  <h1><strong>Favoritos da lista</strong></h1>
  </div>

  <div>
    <%= link_to 'Adicionar um novo favorito', new_list_bookmark_path(@list), class: "class= btn btn-gradient" %>
  </div>

  <div class="container-card">
    <tbody>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <%= image_tag(bookmark.movie.poster_url, size: '120x200') %>
          <div class="card-trip-infos">
            <div>
              <h2><%= bookmark.comment %></h2>
            </div>
            <div>
            <%= link_to 'Excluir', bookmark_path(bookmark),
              method: :delete,
              data: {confirm: 'Você tem certeza que deseja excluir esse favorito?'},
              class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
    </tbody>
  </div>
</div>
